<div class="container">
<div class="bodyClass">
        <div class="row">
              <div class="col-sm-6 col-md-2">
               <img src="{{ imagePath }}" alt="Girl" class="img-rounded img-responsive profilepic" />
              </div>
              <div class="col-sm-6 col-md-4">
                  <br>
                    <h4>{{ name }}</h4>
                    <i class="fas fa-user"></i> {{ username }}
                    <br>
                    <i class="fas fa-at"></i> {{ email }}
                    <br><br>
                  <button type="submit" class="btn loginNav" onclick="showEdit()" >Edit Username</button>
                </div>
                
                <div class="customCol" id= "EditProfile">
                        <p id="warning" class="warningText"></p>
                        <div class="form-row">
                            <label for="username">Username</label>
                            <div class="input-group form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-describedby="inputGroupPrepend">
                            </div>
                        </div>
                        <div style="float: right;">
                        <input type="button" class="btn btn-light cancel_btn" value="Cancel" onclick="showEdit()">
                        <button type="submit" class="btn loginNav" aria-disabled="true" id="editUser">Save</button>
                      </div>
             
                </div>
        </div>
    <br>
    <br>
    {{#if isGuest}}
        <h1>STATUS</h1>
        <br>
        {{#if reservation}}
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Village</th>
                    <th scope="col">Villa</th>
                    <th scope="col">Check-in</th>
                    <th scope="col">Check-out</th>
                    <th scope="col">Adult/s</th>
                    <th scope="col">Child/ren</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reservation}}
                        <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{cap this.villa.villageTheme}}</td>
                        <td>{{cap this.villa.villatype}}</td>
                        <td>{{this.checkIn}}</td>
                        <td>{{this.checkOut}}</td>
                        <td>{{this.adultNum}}</td>
                        <td>{{this.childrenNum}}</td>
                        <td>Php {{comma this.total}}</td>
                        <td>{{cap this.status}}</td>

                        {{#isEqual this.status "Active"}}
                            <td><button class="btn-sm manageBtn" aria-disabled="true" data-toggle="modal" data-id="{{this._id}}">Cancel</button></td>
                        <!-- Cancel Confirmation-->
                        <div id="deleteConfirmModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cancel Reservation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="cancel_p">Are you sure you want to cancel the Reservation?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button id="deleteConfirm" type="button" class="btn login_btn" aria-disabled="true">Yes</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {{/isEqual}}
                        {{#isEqual this.status "Completed"}}
                            <td></td>
                        {{/isEqual}}



                        </tr>
                    {{/each}}
                </tbody>
            </table>
                {{else}}
                    <p style="text-align: center;">No reservations yet.</p>
        {{/if}}
    {{/if}}
    <br>
    <br>
</div>
</div>

<script>

var Id;

$(document).ready(function () {
    $('.btn-sm.manageBtn').on('click', function () {
        Id = $(this).data('id');
        $('#deleteConfirmModal').modal('show');
        //console.log(Id);
    });

    $("#deleteConfirmModal").on('click', "#deleteConfirm", function () {
        $.post('/cancel', {reservationId:Id}, function (req, res){
            location.reload();
        });

        return true;
    });
});


EditProfile.style.display = 'none';


function showEdit() {
    var x=document.getElementById("EditProfile");

    if(x.style.display=== "none")
    {
        x.style.display ="block";
    }
    else
    {
        x.style.display ="none";
    }
}

function checkField(field, val) {
    var valid = val;

    if(field.val() == '') {
        valid = false;
        $("#warning").text("Fill-in missing information.");
    } else {
        $("#warning").text("");
    }

    return valid;
}


$("#editUser").on('click', function () {
    var valid = true;
    valid = checkField($("#username"), valid);
    var username =  $("#username").val();
    if (valid == true){
        $.post('/edit', {username : username}, function (result){
            $("#warning").text("");
            if (result.success == true) {
                /*
                var form=document.getElementById("EditProfile");
                form.style.display ="none" */
                showEdit();
                $.get('/edit', function (){});
               // window.location.replace(result.url);
            } else if (result.success == false){
                var message = result.message;
                $("#warning").text(message);
            }

        });
    }

    return true;
});
</script>
