<div class="bodyClass">
        <h1>{{cap this.title }}</h1>
        <br>
        <div class="paddingDiv">
         {{#each villa}} 
         <hr>
            <h5 style="text-align: center;">{{cap this.villatype}}</h5><br>
                <div class="customRow"> 
                    <div class="customCol">
                        <ul class="villatype">
                            <li>From Php {{comma this.price}}/night</li>
                            <li>Accomodates: {{this.capacity}}</li>
                            <li>Rooms: {{this.capacity}}</li>
                        </ul>
                    </div>
                    <div class="customCol">
                        <ul class="villatype">
                        {{#each this.inclusions}}     
                            <li>{{this}}</li>
                        {{/each}} 
                        </ul>
                    </div>
                    <div class="customCol">
                        <img class="typepic" src="{{this.imagePath}}">
                    </div>
                </div>
        
                <br>        
            <br>
            
        {{/each}}
        </div>
</div>

